{% extends "base.html" %}

{% block content %}
    <h1>Home page</h1>
    <hr>

    {% if user.is_authenticated %}
        <p>Welcome, {{ user.get_full_name|default:user.email }}!</p>
        <ul>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'projects' %}">Project catalogue (JSON)</a></li>
            <li><a href="{% url 'reports_edit' %}">Update report (POST)</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
{% endblock %}

